<p id="notice"><%= notice %></p>

<p>
  <b>Token:</b>
  <%= @device.token %>
</p>

<p>
  <b>Lat:</b>
  <%= @device.lat %>
</p>

<p>
  <b>Lng:</b>
  <%= @device.lng %>
</p>


<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
